<html>
  <head>
    <title>Ruby Twilio Client Demo!</title>
    <script type="text/javascript"
      src="http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link href="http://static0.twilio.com/packages/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <script type="text/javascript">
    // This should all be put in a .js file, just here for demo purposes
      try {
        Twilio.Device.setup("<%= @phone_call.capability_token %>");
      } catch (err) {
        console.log("Adobe Flash is required to use Twilio Client.");
      }

      Twilio.Device.ready(function (device) {
        $("#log").text("Client <%= @client %> is ready");
      });
 
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
 
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
      
      Twilio.Device.incoming(function (conn) {
        $("#log").text("Incoming connection from " + conn.parameters.From);
        // accept the incoming connection and start two-way audio
        conn.accept();
      });
      
      Twilio.Device.presence(function (pres) {
        if (pres.available) {
          // create an item for the client that became available
          $("<li>", {id: pres.from, text: pres.from}).click(function () {
            $("#number").val(pres.from);
            call();
          }).prependTo("#people");
        }
        else {
          // find the item by client name and remove it
          $("#" + pres.from).remove();
        }
      });
      
      function call() {
        // get the phone number to connect the call to
        params = { "PhoneNumber": $("#number").val()};
        Twilio.Device.connect(params);
      }
      
      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
      });
      
      function hangup() {
        Twilio.Device.disconnectAll();
      }
    </script>
  </head>
  <body>
    <button class="call" onclick="call();">
      Call
    </button>
 
    <button class="hangup" onclick="hangup();">
      Hangup
    </button>
    
    <input type="text" id="number" name="number"
      placeholder="Enter a phone number to call"/>
    
    <div id="log">Loading voice app...</div>
    
    <ul id="people"/>
  </body>
</html>